.body1{
  background-image: url("../img/fon5.gif");


}
.container {
  background-image: url("../img/fon5.gif");
}
.container a:hover{
  text-decoration: none;


}

#banner-bg {

}
.cf:before, .cf:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#banner {
  position: relative;
}
.row {
  min-width: 0;
    display: inline-block;
    display: block;
    /*width: 400px;*/
}
#logo-area {
  margin-left: auto;
  float: left;
  position: relative;

}
.col-md-5 {

}
.site-name {
  font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 65px;
    font-weight: normal;
    margin: 25px auto 10px auto;
    line-height: 55px;


  text-decoration: none;
  color: #000000;

  text-shadow: 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);

}
 #a1 {
   text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);


 }

.site-name a:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}
.site-description{
  font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 200;
    font-size: 26px;
    letter-spacing: 0px;
    color: #4f4f4f;
    margin: 0 auto 20px auto;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
p {
  display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}


  @media  (max-width: 480px) {
    .search1 {
      position: relative;
      margin-top: 0;
      margin-right: 0;
    }
   }

#search { /*poisk*/

  height: 9em;
  float: right;

}
#form-groop {
  position: absolute;
  top: 4em;
  right: 0;
  font-size: 0.1em;
/*  box-shadow: 10px 10px 3px -3px rgba(0,0,0,.2);*/
background: none:

}
.col6 {
    width: 300px;
}
.strong1 {
  position: absolute;
  top: 1.4em;
  right: 0;
  font-size: 1.4em;
}



.line {
  padding-bottom: 2px;
  background-color: #9b9b9b;
  border-bottom:2px solid #F4F4F4 ;
  margin-top: 0.0em;
  margin-bottom: 0.0em;

}
.page {
  border-right: 3px groove  #F4F4F4;
  outset
}


#breadcrumb {
    width: 11170px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    margin-bottom: 0;

}
#bread {
  margin-left:10px;


}
.my_article{
  margin: 15px;
}
#foot{
  background-color: #333;
  height: 20px;
}
.meta {
  margin: 15px;
}
