

.body1{
/*  background-image: url("../img/fon.gif");*/



}

.container a:hover{
  text-decoration: none;

}

#banner-bg {

}
.cf:before, .cf:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#banner {
  position: relative;
}
.row {
  min-width: 0;
    display: inline-block;
    display: block;
}
#logo-area {
  margin-left: auto;
  /*float: left;*/
  position: relative;
}
.col5 {
  width: auto;
}
.site-name {
  font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin: 5px auto 5px auto;
    line-height: 55px;
    text-decoration: none;
    color: #000000;
    text-shadow: 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);

}
 #a1 {
   text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);


 }

.site-name a:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}
.site-description{
  font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 0px;
    color: #4f4f4f;
    margin: 0 auto 20px auto;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
p {
  display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}





#search { /*poisk*/

/*  height: 9em;*/
  /*float: right;*/
}

#form-groop {
  position: relative;
  top: 0.5em;
  right: auto;
  font-size: 0.1em;
  /*box-shadow: 1px 1px 1px -3=1px rgba(0,0,0,.2);*/
}
.col6 {
    width: auto;
}
.strong1 {
  position: relative;
  top: 1.4em;
  right: 0;
  font-size: 1.4em;
}
#menu1-wrapper {
  z-index: 1000;
  background:none;
  position: relative;
  bottom: 0;
  right: 0;
/*  border-bottom: solid 1px #cccccc;
  margin-bottom: 3px;
  box-shadow: 10px 10px 3px -3px rgba(0,0,0,.2);
  border: 1px solid #999999;
  border-radius: 3px;*/
  color: red;
  font-size: 1.7em;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}
#menu1-wrapper a:hover{
  background:#CCCC66;
}
.navbar-toggle {
  color: #99CC00;
}

.line {
  padding-bottom: 2px;
  background-color: #9b9b9b;
  border-bottom:2px solid #F4F4F4;
  margin-top: 0.0em;
  margin-bottom: 0.0em;

}


#breadcrumb {
    width: auto;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    margin-bottom: 0;
}
#bread {
  margin-left:10px;
}
#foot{
  background-color: #333;
  height: 20px;
}
